body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.banner{
  background-position: center;
  background-image: url("header.jpg");
  background-size: cover;
  height: 100%;
}

.landing-text h1{
  font-size: 2rem;
  margin-top: 150px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.landing-btn{
 display: flex;
 justify-content: center;
 margin-top: 230px;
}

.btn-primary{
  background-color: #F05F44;
  border-color: #F05F44;
  border-radius: 300px;
  padding: 20px 50px;
  width:  ;
}

.btn-primary:hover{
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer
}
